

.letter:hover {
	color: red !important;
	background-color: blue !important;
	font-weight: 900 !important;
	transform: translateY(25px) translateX(10px);
	-webkit-box-shadow: -10px 10px 0 1px black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    -10px 10px 0 1px black;  /* Firefox 3.5 - 3.6 */
	box-shadow:         -10px 10px 0 1px black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	/* height: calc(100% - 500px); */
}
.none:hover {
	/* color: red !important; */
	/* background-color: blue !important; */
	font-weight: 900 !important;
	font-size: calc(100% + 3px);
	/* transform: translateX(10px); */
	-webkit-box-shadow: 0px 0px 1px 5px #ff5a5f;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 0px 1px 5px #ff5a5f;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 0px 1px 5px #ff5a5f;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	/* height: calc(100% - 500px); */
}
.wrapper {
	display: inline-block;
			
}


/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
